<template>

    <div class="md-layout">
        <md-list class="md-layout-item md-size-25">
            <custom-router-link :routes="routes"
                                tag="LIST_ITEM"/>
        </md-list>
        <div class="md-layout-item">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import CustomRouterLink from "../../components/route/CustomRouterLink";
    import Routes from './ConfigurationRoutes';

    export default {
        name: "configurations",
        components: {CustomRouterLink},
        computed: {
            routes() {
                return Routes.routes;
            }
        }

    }
</script>