<template>
    <span>{{formattedDate}}</span>
</template>

<script>
    import moment from 'moment';

    export default {
        name: "formatted-date",
        props: {
            date: {
                type: [Date, String],
                required: true
            }
        },
        computed: {
            formattedDate() {
                return moment(this.date).format('DD/MM/YYYY');
            }
        }
    }
</script>