<template>
    <div>
        <md-button class="md-raised md-accent md-icon-button md-fab md-mini "
                   :disabled="isButtonDisabled"
                   @click="checkConfirm">
            <md-progress-spinner :md-diameter="30"
                                 :md-stroke="3"
                                 md-mode="indeterminate"
                                 v-if="processing"></md-progress-spinner>
            <slot name="btn" v-else></slot>
        </md-button>
        <confirm v-if="confirmActive"
                 :title="confirmation.title"
                 :content="confirmation.content"
                 :cancel="confirmation.cancel"
                 :confirm="confirmation.confirm"
                 @confirmed="confirmed"
                 @rejected="rejected"/>
    </div>
</template>

<script>
    import Confirm from "../modal/Confirm";

    export default {
        name: "long-process-button",
        components: {Confirm},
        props: {
            disabled: {
                type: Boolean,
                required: false,
                default: false
            },
            process: {
                type: Function,
                required: true
            },
            confirmation: {
                type: Object,
                required: false,
                validator: (obj) => !!obj.content && !!obj.title
            }
        },
        data() {
            return {
                processing: false,
                confirmActive: false
            };
        },
        computed: {
            isButtonDisabled() {
                if (this.disabled) {
                    return false;
                }
                return this.processing;
            }
        },
        methods: {
            checkConfirm() {
                if (!this.confirmation) {
                    return this.processButtonClick();
                }
                this.confirmActive = true;
            },
            confirmed() {
                this.confirmActive = false;
                this.processButtonClick();
            },
            rejected() {
                this.confirmActive = false;
            },
            processButtonClick() {
                const vm = this;
                this.processing = true;
                let process = this.process();
                if (!process instanceof Promise) {
                    throw Error('Process must be instanceof Promise!');
                }

                this.$emit('beforeProcessStart');
                process.then(() => {
                    vm.processing = false;
                    this.$emit('processCompleted');
                }).catch((error) => {
                    this.$emit("processFailed", error);
                    this.processing = false;
                });
            }
        }
    }
</script>