@import '~material-design-icons/iconfont/material-icons.css';

.margin-right-left-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.hand-cursor {
    cursor: pointer;
}

.page-content {
    margin: 20px;
}

.permission-invisible {
    visibility: hidden;
}

.scrollable {
    overflow-y: auto !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.row {
    padding-right: 40px;
    padding-left: 40px;
}

.margin-left-4 {
    margin-left: 4px;
}