<template>
    <edit-delete-action :row-id="rowId"
                        :confirmation="confirmation"
                        :process-button="processButton"
                        @editClicked="editClicked"
                        @beforeProcessStart="beforeProcessStart"
                        @processCompleted="processCompleted"
                        @processFailed="processFailed">
        <md-button class="md-raised md-primary md-icon-button md-fab md-mini "
                   @click="viewClicked">
            <md-icon>visibility</md-icon>
        </md-button>
    </edit-delete-action>
</template>

<script>
    import EditDeleteAction from "./EditDeleteAction";
    import TableActionsMixin from "./TableActionsMixin";

    export default {
        name: "edit-delete-view-action",
        components: {EditDeleteAction},
        extends: EditDeleteAction,
        mixins: [TableActionsMixin],
        methods: {
            viewClicked() {
                this.$emit("viewClicked", this.rowId);
            }
        }
    }
</script>