<template>
    <div class="md-layout md-alignment-center">
        <md-button class="md-raised md-primary md-icon-button md-fab md-mini "
                   @click="editClicked">
            <md-icon>edit</md-icon>
        </md-button>
        <long-process-button :disabled="processButton.disabled"
                             :process="processButton.process"
                             :confirmation="confirmation"
                             @beforeProcessStart="beforeProcessStart"
                             @processCompleted="processCompleted"
                             @processFailed="processFailed">
            <template slot="btn">
                <md-icon>delete</md-icon>
            </template>
        </long-process-button>
        <slot></slot>
    </div>
</template>

<script>
    import LongProcessButton from "../../button/LongProcessButton";
    import TableActionsMixin from "./TableActionsMixin";

    export default {
        name: "edit-delete-action",
        components: {LongProcessButton},
        mixins: [TableActionsMixin],
        props: {
            processButton: {
                type: Object,
                required: true,
                validator: (obj) => !!obj.process
            },
            confirmation: {
                type: Object,
                required: false,
                validator: (obj) => !!obj.content && !!obj.title
            }
        }
    }
</script>