<template>
    <md-field>
        <label :for="tagId">{{label}}</label>
        <md-select v-model="items"
                   :name="tagId"
                   :id="tagId"
                   :multiple="multiple"
                   @md-selected="optionSelected">
            <md-option v-for="option in options"
                       :value="option.value">
                {{option.label}}
            </md-option>
        </md-select>
    </md-field>
</template>

<script>

    import {uuid} from 'vue-uuid';

    export default {
        name: "basic-select",
        props: {
            selectedItems: {
                type: [Array, String, Object, Number],
                required: false,
                default: () => []
            },
            multiple: {
                type: Boolean,
                required: false,
                default: false
            },
            options: {
                type: Array,
                required: true,
                validator: (values) => !values.filter(val => !val.label && !val.value).length
            },
            label: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                items: this.selectedItems,
                tagId: `basic-select-${uuid.v1()}`
            };
        },
        methods: {
            optionSelected(values) {
                this.$emit("change", values);
            }
        }
    }
</script>