<template>
    <md-dialog-confirm :md-active="true"
                       :md-title="title"
                       :md-content="content"
                       :md-confirm-text="confirm"
                       :md-cancel-text="cancel"
                       @md-cancel="onCancel"
                       @md-confirm="onConfirm"/>
</template>

<script>
    export default {
        name: "confirm",
        props: {
            confirm: {
                type: String,
                required: false,
                default: 'Confirm'
            },
            cancel: {
                type: String,
                required: false,
                default: 'Cancel'
            },
            title: {
                type: String,
                required: true,
            },
            content: {
                type: String,
                required: true,
            }
        },
        methods: {
            onConfirm() {
                this.$emit("confirmed");
            },
            onCancel() {
                this.$emit("rejected");
            }
        }
    }
</script>