<template>
    <md-dialog :md-active="true"
               class="scrollable centered-container"
               :class="size">
        <md-content>
            <md-dialog-title v-if="!!title">{{title}}</md-dialog-title>

            <form class="form">
                <slot name="form"></slot>
            </form>

            <div class="actions md-layout" :class="actionClass">
                <slot name="actions"></slot>
                <md-button class="md-raised md-primary" @click="promiseButtonClick">{{processDetail.label}}</md-button>
            </div>

            <div class="loading-overlay" v-if="loading">
                <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
            </div>
        </md-content>
    </md-dialog>
</template>

<script>
    export default {
        name: "editor-modal",
        props: {
            title: {
                type: String,
                required: false,
                default: ''
            },
            size: {
                type: String,
                required: false,
                default: 'medium'
            },
            actionClass: {
                type: String,
                required: false,
                default: ''
            },
            processDetail: {
                type: Object,
                required: true,
                validator: (obj) => !!obj.label && !!obj.process && obj.process instanceof Function
            }
        },
        data() {
            return {
                loading: false
            };
        },
        methods: {
            promiseButtonClick() {
                this.loading = true;
                return this.processDetail.process()
                    .then(() => this.loginProcessCompleted())
                    .catch((error) => this.loginProcessCompleted(error))
            },
            loginProcessCompleted(error) {
                this.loading = false;
                if (error) {
                    this.$emit("processFailed", error);
                    return;
                }
                this.$emit("processCompleted");
            }
        }
    }
</script>
<style scoped>
    .large {
        width: 60%;
    }

    .medium {
        width: 40%;
    }

    .small {
        width: 25%;
    }
</style>