<template>
    <page :visible="!!userList.length"
          :empty-page-creator="emptyPageContent"
          :action-button-util="emptyPageActionButtonUtil"
          :un-expected-error-message="errorMessage"
          @actionButtonClicked="createUser"
          @errorMessageCleared="clearErrorMessage">

        <template slot="content">
            <div class="md-layout md-alignment-space-between-right">
                <md-button class="md-raised md-primary"
                           @click="createUser"
                           v-permission="'ROLE_USER_ADMIN'">
                    <md-icon>add_circle</md-icon>
                    Create User
                </md-button>
            </div>
            <md-table v-model="userList"
                      md-card
                      @md-selected="()=>{}">
                <md-table-row slot="md-table-row"
                              slot-scope="{ item }">
                    <md-table-cell md-label="Name">{{ item.fullName }}</md-table-cell>
                    <md-table-cell md-label="Username">{{ item.username }}</md-table-cell>
                    <md-table-cell md-label="E-Mail">{{ item.email }}</md-table-cell>
                    <md-table-cell md-label="Birth Day">
                        <formatted-date :date="item.birthDay"/>
                    </md-table-cell>
                    <md-table-cell md-label="Birth Day">{{ item.userRole.name }}</md-table-cell>
                    <md-table-cell md-label="Actions" v-if="actionsVisible">
                        <edit-delete-view-action :process-button="deleteUserProcess(item.id)"
                                                 :row-id="item.id"
                                                 :confirmation="generateConfirmation(item)"
                                                 @editClicked="editClicked"
                                                 @processCompleted="deleteCompleted"
                                                 @processFailed="deleteFailed"
                                                 @viewClicked="viewClicked"/>
                    </md-table-cell>
                </md-table-row>
            </md-table>

            <user-editor v-if="userSelected"
                         :model="selectedUser"
                         @modalClosed="userModalClosed"/>
        </template>
    </page>
</template>

<script>
    import PageMixin from "../../../components/page/PageMixin";
    import Page from "../../../components/page/Page";
    import {mapActions, mapGetters} from "vuex";
    import EditDeleteViewAction from "../../../components/table/actions/EditDeleteViewAction";
    import UserEditor from "./UserEditor";
    import FormattedDate from "../../../components/date/FormattedDate";

    export default {
        name: "users",
        components: {FormattedDate, UserEditor, EditDeleteViewAction, Page},
        mixins: [PageMixin],
        data() {
            return {
                selectedUser: null
            };
        },
        created() {
            this.refreshUsers();
        },
        computed: {
            ...mapGetters('user', ['userList']),
            emptyPageContent() {
                return this.generateEmptyPageContent('block', 'No Users Found', 'There no users found. Click create button to create new user');
            },
            emptyPageActionButtonUtil() {
                return this.generateEmptyPageActionButtonUtil('add_circle', 'Create User');
            },
            actionsVisible() {
                return this.userHasPermission('ROLE_USER_ADMIN');
            },
            userSelected() {
                return this.selectedUser !== null;
            }
        },
        methods: {
            ...mapActions('user', ['refreshUsers', 'deleteUser']),
            createUser() {
                this.selectedUser = {};
            },
            deleteUserProcess(id) {
                return {
                    process: () => this.deleteUser(id)
                }
            },
            generateConfirmation(item) {
                return {
                    content: `Are you sure delete user with name ${item.name}(#${item.id})`,
                    title: 'Confirm Delete User'
                };
            },
            editClicked(userId) {
                this.selectedUser = this.userList.find(u => u.id === userId);
            },
            deleteCompleted(userId) {
                console.debug("User deletion completed with success")
            },
            deleteFailed(result) {
                this.addError(`An error occurred while user user deleting ${result.rowId} ${result.error}`);
            },
            viewClicked(userId) {
                let routeData = this.$router.resolve({path: `users/${userId}`});
                window.open(routeData.href, '_blank');
            },
            userModalClosed(error) {
                if (!!error) {
                    this.addError(error);
                }
                this.selectedUser = null;
            }
        }
    }
</script>