<template>
    <page :visible="!!userId"
          :empty-page-creator="emptyPageContent">

        <template slot="content">
            <md-card>
                <md-card-header>
                    <div class="md-title">{{user.fullName}}</div>
                </md-card-header>

                <md-card-content>
                    <ul id="personal-informations" class="informationa">
                        <li>
                            <md-icon>perm_identity</md-icon>
                            <md-tooltip md-direction="left">Username</md-tooltip>
                            {{user.username}}
                        </li>
                        <li>
                            <md-icon>email</md-icon>
                            <md-tooltip md-direction="left">E-Mail</md-tooltip>
                            {{user.email}}
                        </li>
                        <li v-if="user.birthDay">
                            <md-icon>perm_contact_calendar</md-icon>
                            <md-tooltip md-direction="left">Birth Day</md-tooltip>
                            <formatted-date class="margin-left-4" :date="user.birthDay"/>
                        </li>
                        <li>
                            <md-icon>lock</md-icon>
                            <md-tooltip md-direction="left">User Role</md-tooltip>
                            {{userRole}}
                        </li>
                    </ul>
                </md-card-content>
                <hr/>
                <div class="page-content">
                    <h2>Contacts</h2>
                    <simple-table v-if="userHasContacts"
                                  :columns="contacts"
                                  :labels="simpleTableLabels"/>
                </div>
            </md-card>
        </template>
    </page>
</template>

<script>
    import Page from "../../../components/page/Page";
    import PageMixin from "../../../components/page/PageMixin";
    import {mapActions, mapGetters} from "vuex";
    import FormattedDate from "../../../components/date/FormattedDate";
    import SimpleTable from "../../../components/table/SimpleTable";

    export default {
        name: "user-view",
        components: {SimpleTable, FormattedDate, Page},
        mixins: [PageMixin],
        created() {
            this.refreshUsers();
        },
        computed: {
            ...mapGetters('user', ["userList"]),
            userId() {
                return this.$route.params && this.$route.params.id || null;
            },
            emptyPageContent() {
                return this.generateEmptyPageContent('block', 'No User Found', 'An error occurred while getting user details.');
            },
            user() {
                return this.userList.find(u => {
                    return `${u.id}` === this.userId;
                }) || {};
            },
            userRole() {
                if (this.user == null) {
                    return null;
                }
                return this.user.userRole && this.user.userRole.name || "User role couldn't found";
            },
            contacts() {
                if (!this.user || !this.user.contacts) {
                    return [];
                }
                return this.user.contacts;
            },
            simpleTableLabels() {
                return [
                    {label: 'Name', field: 'nickName'},
                    {label: 'Phone', field: 'phone'},
                    {label: 'E-Mail', field: 'mail'}
                ];
            },
            userHasContacts() {
                return this.contacts && !!this.contacts.length;
            }
        },
        methods: {
            ...mapActions('user', ["refreshUsers"])
        }
    }
</script>
<style scoped>
    ul#personal-informations.informationa {
        list-style: none;
    }

    .md-icon {
        margin-right: 20px;
    }
</style>