<template>
    <editor-modal title="User Editor"
                  action-class="md-alignment-center-space-between"
                  style="align-items: unset"
                  :process-detail="processDetails"
                  @processCompleted="processCompleted"
                  @processFailed="processFailed">
        <template slot="form">

            <md-field>
                <label>Name</label>
                <md-input v-model="userModel.fullName" autofocus></md-input>
            </md-field>

            <md-field>
                <label>Username</label>
                <md-input v-model="userModel.username"></md-input>
            </md-field>

            <md-field>
                <label>E-Mail</label>
                <md-input v-model="userModel.email"></md-input>
            </md-field>

            <basic-select :selected-items="userModel.userRole"
                          @change="roleSelected"
                          :options="mapUserRoles"
                          label="User Role"/>

            <md-field md-has-password v-if="passwordVisible">
                <label>Password</label>
                <md-input v-model="userModel.password" type="password"></md-input>
            </md-field>

            <md-field md-has-password v-if="passwordVisible">
                <label>Password Repeat</label>
                <md-input v-model="userModel.passwordRepeat" type="password"></md-input>
            </md-field>

            <md-datepicker v-model="userModel.birthDay"
                           :md-model-type="String">
                <label>Birth Date</label>
            </md-datepicker>
        </template>
        <template slot="actions">
            <md-button class="md-raised md-primary" @click="cancelClick">Cancel</md-button>
        </template>
    </editor-modal>
</template>

<script>
    import EditorModal from "../../../components/modal/EditorModal";
    import BasicSelect from "../../../components/select/BasicSelect";
    import {mapActions, mapGetters} from "vuex";
    import moment from 'moment';

    export default {
        name: "user-editor",
        components: {BasicSelect, EditorModal},
        props: {
            model: {
                type: Object,
                required: false,
                default: () => ({})
            }
        },
        data() {
            return {
                userModel: {
                    id: this.model.id,
                    email: this.model.email,
                    fullName: this.model.fullName,
                    username: this.model.username,
                    userRole: this.model.userRole && this.model.userRole.id || '',
                    password: this.model.password,
                    birthDay: moment(this.model.birthDay).format('DD/MM/YYYY')
                }
            };
        },
        created() {
            this.refreshRoles();
        },
        computed: {
            ...mapGetters('userRole', ["userRoleList"]),
            ...mapGetters('authentication', ["authenticatedUser"]),
            processDetails() {
                return {
                    label: 'Save',
                    process: this.saveUserClicked
                };
            },
            mapUserRoles() {
                return this.userRoleList.map(role => {
                    return {
                        value: role.id,
                        label: role.name,
                    };
                });
            },
            passwordVisible() {
                if (this.authenticatedUser.authenticatedUser.id === this.userModel.id) {
                    return true;
                }
                return this.userHasPermission('ROLE_SYSTEM_ADMIN');

            }
        },
        methods: {
            ...mapActions('userRole', ['refreshRoles']),
            ...mapActions('user', ['saveUser','refreshUsers']),
            processCompleted() {
                this.refreshUsers();
                this.emitModalClosedEvent();
            },
            processFailed(error) {
                this.emitModalClosedEvent(error);
            },
            emitModalClosedEvent(payload) {
                this.$emit("modalClosed", payload);
            },
            cancelClick() {
                this.emitModalClosedEvent();
            },
            roleSelected(value) {
                this.userModel.userRole = value;
            },
            saveUserClicked() {
                return this.saveUser(this.userModel);
            }
        }
    }
</script>