<template>
    <footer class="footer">
        <a href="https://gitlab.com/kadirkahraman"
           target="_blank"
           class="md-transparent"
           role="button">
            <h3>© Kadir KAHRAMAN</h3>
        </a>
    </footer>
</template>

<script>

    export default {
        name: 'app-footer',
    }
</script>

<style scoped>
    .footer {
        flex-shrink: 0;
        z-index: 1;
        width: 100%;
    }

    a {
        text-align: center;
    }

    .link {
        color: #FFF;
    }
</style>