<template>
    <div class="md-layout">
        <md-tabs md-alignment="centered"
                 class="md-layout-item md-size-85"
                 md-sync-route>
            <custom-router-link :routes="routes"/>
        </md-tabs>
        <div class="md-layout-item">
            <authenticated-user-balloon @passwordChangeClicked="passwordChange"></authenticated-user-balloon>
            <password-change-editor v-if="passwordChangeEnabled"
                                    @modalClosed="passwordChangeModalClosed"></password-change-editor>
        </div>
    </div>
</template>

<script>
    import CustomRouterLink from "../route/CustomRouterLink";
    import ApplicationRoutes from "../../ApplicationRoutes";
    import AuthenticatedUserBalloon from "../auth/AuthenticatedUserBalloon";
    import PasswordChangeEditor from "../auth/PasswordChangeEditor";

    export default {
        name: "nav-bar",
        components: {PasswordChangeEditor, AuthenticatedUserBalloon, CustomRouterLink},
        data() {
            return {
                passwordChangeEnabled: false
            };
        },
        computed: {
            routes() {
                return ApplicationRoutes.routes;
            }
        },
        methods: {
            passwordChange() {
                this.passwordChangeEnabled = true;
            },
            passwordChangeModalClosed() {
                this.passwordChangeEnabled = false;
            }
        }
    }
</script>
<style scoped>
    .md-layout-item {
        background-color: var(--md-theme-default-background-on-background, #424242);
    }
</style>