<template>
    <page :visible="!!contactVisible"
          :empty-page-creator="emptyPageContent">

        <template slot="content">
            <md-card>
                <md-card-header>
                    <div class="md-title">{{contactFullName}}</div>
                </md-card-header>

                <md-card-content>
                    <ul id="contact-informations" class="informationa">
                        <li>
                            <md-icon>perm_identity</md-icon>
                            <md-tooltip md-direction="left">Nickname</md-tooltip>
                            {{contact.nickName}}
                        </li>
                        <li>
                            <md-icon>email</md-icon>
                            <md-tooltip md-direction="left">E-Mail</md-tooltip>
                            {{contact.mail}}
                        </li>
                        <li>
                            <md-icon>email</md-icon>
                            <md-tooltip md-direction="left">Alternative E-Mail</md-tooltip>
                            {{contact.mailAlternative}}
                        </li>
                        <li v-if="contact.birthDay">
                            <md-icon>perm_contact_calendar</md-icon>
                            <md-tooltip md-direction="left">Birth Day</md-tooltip>
                            <formatted-date class="margin-left-4" :date="contact.birthDay"/>
                        </li>
                        <li>
                            <md-icon>location_city</md-icon>
                            <md-tooltip md-direction="left">Location</md-tooltip>
                            {{contact.city}}
                        </li>
                        <li>
                            <md-icon>phone</md-icon>
                            <md-tooltip md-direction="left">Phone</md-tooltip>
                            {{contact.phone}}
                        </li>
                        <li>
                            <md-icon>phone</md-icon>
                            <md-tooltip md-direction="left">Phone</md-tooltip>
                            {{contact.phoneAlternative}}
                        </li>
                        <li>
                            <md-icon>{{favIcon}}</md-icon>
                            <md-tooltip md-direction="right">{{favStatus}}</md-tooltip>
                            {{favStatus}}
                        </li>
                    </ul>
                </md-card-content>
            </md-card>
        </template>
    </page>
</template>

<script>
    import Page from "../../components/page/Page";
    import FormattedDate from "../../components/date/FormattedDate";
    import {mapActions} from "vuex";
    import PageMixin from "../../components/page/PageMixin";

    export default {
        name: "contact-view",
        components: {FormattedDate, Page},
        mixins: [PageMixin],
        data() {
            return {
                contact: {}
            }
        },
        created() {
            this.findContact(this.contactId)
                .then(contact => this.contact = contact);
        },
        computed: {
            contactVisible() {
                return !!(this.contact && this.contact.firstName)
            },
            emptyPageContent() {
                return this.generateEmptyPageContent('block', 'No Contact Found', 'An error occurred while getting contact details.');
            },
            contactId() {
                return this.$route.params && this.$route.params.id || null;
            },
            contactFullName() {
                return `${this.contact.firstName} ${this.contact.lastName}`;
            },
            favStatus() {
                if (this.contact.favourite) {
                    return "Favourite contact";
                }
                return "Contact isn't favourite";
            },
            favIcon() {
                if (this.contact.favourite) {
                    return "star";
                }
                return "star_border";
            }
        },
        methods: {
            ...mapActions('contact', ['findContact'])
        }
    }
</script>
<style scoped>
    ul#contact-informations.informationa {
        list-style: none;
    }

    .md-icon {
        margin-right: 20px;
    }

    .margin-top-20 {
        margin-top: 20px;
    }
</style>