<template>
    <editor-modal title="Contact Editor"
                  action-class="md-alignment-center-space-between"
                  style="align-items: unset"
                  :process-detail="processDetails"
                  @processCompleted="processCompleted"
                  @processFailed="processFailed">
        <template slot="form">

            <md-field>
                <label>First Name</label>
                <md-input v-model="contactModel.firstName" autofocus></md-input>
            </md-field>

            <md-field>
                <label>Last Name</label>
                <md-input v-model="contactModel.lastName"></md-input>
            </md-field>

            <md-field>
                <label>Nick Name</label>
                <md-input v-model="contactModel.nickName"></md-input>
            </md-field>

            <md-field>
                <label>City</label>
                <md-input v-model="contactModel.city"></md-input>
            </md-field>

            <md-datepicker v-model="contactModel.birthDay"
                           :md-model-type="String">
                <label>Birth Date</label>
            </md-datepicker>

            <md-field>
                <label>Phone</label>
                <md-input v-model="contactModel.phone"></md-input>
            </md-field>

            <md-field>
                <label>Phone Alternative</label>
                <md-input v-model="contactModel.phoneAlternative"></md-input>
            </md-field>

            <md-field>
                <label>E-Mail</label>
                <md-input v-model="contactModel.mail"></md-input>
            </md-field>

            <md-field>
                <label>Mail Alternative</label>
                <md-input v-model="contactModel.mailAlternative"></md-input>
            </md-field>

            <error-message-viewer :un-expected-error-message="error"
                                  @errorMessageCleared="errorMessageCleared"/>
        </template>
        <template slot="actions">
            <md-button class="md-raised md-primary" @click="emitModalClosedEvent">Cancel</md-button>
        </template>
    </editor-modal>
</template>

<script>
    import EditorModal from "../../components/modal/EditorModal";
    import moment from 'moment';
    import {mapActions} from "vuex";
    import ErrorMessageViewer from "../../components/page/ErrorMessageViewer";

    export default {
        name: "contact-editor",
        components: {ErrorMessageViewer, EditorModal},
        props: {
            model: {
                type: Object,
                required: false,
                default: () => ({})
            }
        },
        data() {
            return {
                contactModel: {
                    id: this.model.id || '',
                    firstName: this.model.firstName || '',
                    lastName: this.model.lastName || '',
                    nickName: this.model.nickName || '',
                    city: this.model.city || '',
                    birthDay: moment(this.model.birthDay).format('DD/MM/YYYY'),
                    phone: this.model.phone || '',
                    phoneAlternative: this.model.phoneAlternative || '',
                    mail: this.model.mail || '',
                    mailAlternative: this.model.mailAlternative || '',
                    favourite: this.model.favourite || false
                },
                error: ''
            };
        },
        computed: {
            processDetails() {
                return {
                    label: 'Save',
                    process: this.saveContactClicked
                };
            },
        },
        methods: {
            ...mapActions('contact', ["saveContact"]),
            processCompleted() {
                this.emitModalClosedEvent();
            },
            processFailed(error) {
                this.error = error;
            },
            emitModalClosedEvent(payload) {
                this.$emit("modalClosed", payload);
            },
            saveContactClicked() {
                return this.saveContact(this.contactModel);
            },
            errorMessageCleared() {
                this.error = '';
            }
        }
    }
</script>