<template>
    <page :visible="!!contactList.length"
          :empty-page-creator="emptyPageContent"
          :action-button-util="emptyPageActionButtonUtil"
          :un-expected-error-message="errorMessage"
          @actionButtonClicked="createContact"
          @errorMessageCleared="clearErrorMessage">

        <template slot="content">
            <div class="md-layout md-alignment-space-between-right">
                <md-button class="md-raised md-primary"
                           @click="createContact"
                           v-permission="'ROLE_USER_ADMIN'">
                    <md-icon>add_circle</md-icon>
                    Create Contact
                </md-button>
            </div>
            <md-table v-model="contactList"
                      md-card
                      @md-selected="()=>{}">
                <md-table-row slot="md-table-row"
                              slot-scope="{ item }">
                    <md-table-cell md-label="Name">{{ getFullName(item) }}</md-table-cell>
                    <md-table-cell md-label="Phone">{{ item.phone }}</md-table-cell>
                    <md-table-cell md-label="E-Mail">{{ item.mail }}</md-table-cell>
                    <md-table-cell md-label="Favourite">
                        <favourite-cell :favourite="item.favourite"
                                        :row-id="item.id"
                                        @favouriteStatusChanged="toggleFavourite"/>
                    </md-table-cell>
                    <md-table-cell md-label="Actions" v-if="actionsVisible">
                        <edit-delete-view-action :process-button="deleteContactProcess(item.id)"
                                                 :row-id="item.id"
                                                 :confirmation="generateConfirmation(item)"
                                                 @editClicked="editClicked"
                                                 @processCompleted="deleteCompleted"
                                                 @processFailed="deleteFailed"
                                                 @viewClicked="viewClicked"/>
                    </md-table-cell>
                </md-table-row>
            </md-table>

            <contact-editor v-if="!!selectedContact"
                            :model="selectedContact"
                            @modalClosed="contactModalClosed"/>
        </template>
    </page>
</template>

<script>
    import Page from "../../components/page/Page";
    import {mapActions, mapGetters} from "vuex";
    import PageMixin from "../../components/page/PageMixin";
    import ContactEditor from "./ContactEditor";
    import EditDeleteViewAction from "../../components/table/actions/EditDeleteViewAction";
    import FavouriteCell from "./FavouriteCell";
    import moment from "moment";

    export default {
        name: "contacts",
        components: {FavouriteCell, EditDeleteViewAction, ContactEditor, Page},
        mixins: [PageMixin],
        data() {
            return {
                selectedContact: null
            };
        },
        created() {
            this.refreshContacts();
        },
        computed: {
            ...mapGetters('contact', ["contactList"]),
            emptyPageContent() {
                return this.generateEmptyPageContent('block', 'No Contacts Found', 'There no contacts found. Click create button to create new contact');
            },
            emptyPageActionButtonUtil() {
                return this.generateEmptyPageActionButtonUtil('add_circle', 'Create Contact');
            },
            actionsVisible() {
                return this.userHasPermission('ROLE_CONTACT_ADMIN');
            }
        },
        methods: {
            ...mapActions('contact', ['refreshContacts', 'deleteContact', 'saveContact']),
            createContact() {
                this.selectedContact = {};
            },
            contactModalClosed(error) {
                if (!!error) {
                    this.addError(error);
                }
                this.selectedContact = null;
            },
            getFullName(item) {
                return `${item.firstName} ${item.lastName}`;
            },
            deleteContactProcess(id) {
                return {
                    process: () => this.deleteContact(id)
                }
            },
            generateConfirmation(item) {
                return {
                    content: `Are you sure delete contact with name ${item.name}(#${item.id})`,
                    title: 'Confirm Delete Contact'
                };
            },
            editClicked(contactId) {
                this.selectedContact = this.contactList.find(u => u.id === contactId);
            },
            deleteCompleted(contactId) {
                console.debug("Contact deletion completed with success")
            },
            deleteFailed(result) {
                this.addError(`An error occurred while contact deleting ${result.rowId} ${result.error}`);
            },
            viewClicked(contactId) {
                let routeData = this.$router.resolve({path: `contacts/${contactId}`});
                window.open(routeData.href, '_blank');
            },
            toggleFavourite({rowId, favourite}) {
                const foundContact = this.contactList.find(u => u.id === rowId);
                const contact = foundContact;
                contact.favourite = favourite;
                contact.birthDay = moment(foundContact.birthDay).format('DD/MM/YYYY');
                return this.saveContact(contact);
            }
        }
    }
</script>