<template>
    <md-icon v-on:click.native="toggleFavourite">{{getFavouriteStatus}}</md-icon>
</template>

<script>
    export default {
        name: "favourite-cell",
        props: {
            favourite: {
                type: Boolean,
                required: true
            },
            rowId: {
                type: [Object, Number, String],
                required: true
            }
        },
        computed: {
            getFavouriteStatus() {
                if (this.favourite) {
                    return "star";
                }
                return "star_border";
            }
        },
        methods: {
            toggleFavourite() {
                this.$emit("favouriteStatusChanged", {favourite: !this.favourite, rowId: this.rowId});
            }
        }
    }
</script>