<template>
    <md-snackbar md-position="center"
                 :md-duration="Infinity"
                 :md-active.sync="snackbar.showSnackbar"
                 md-persistent>
        <span>{{snackbar.message}}</span>
        <md-button class="md-accent" @click="snackbarOkClicked">OK</md-button>
    </md-snackbar>
</template>

<script>
    export default {
        name: "error-message-viewer",
        props: {
            unExpectedErrorMessage: {
                type: [String, Object],
                required: false,
                default: ''
            }
        },
        data() {
            return {
                snackbar: {
                    showSnackbar: false,
                    message: ''
                }
            }
        },
        computed: {
            getErrorMessage() {
                if (this.unExpectedErrorMessage instanceof Object) {
                    return this.unExpectedErrorMessage.errorMessage || this.unExpectedErrorMessage.message || this.unExpectedErrorMessage.body || this.unExpectedErrorMessage.bodyText;
                } else if (Array.isArray(this.unExpectedErrorMessage)) {
                    return this.unExpectedErrorMessage.toString();
                } else {
                    return this.unExpectedErrorMessage;
                }
            }
        },
        methods: {
            snackbarOkClicked() {
                this.clearSnackBar();
                this.$emit("errorMessageCleared");
            },
            clearSnackBar() {
                this.snackbar.showSnackbar = false;
                this.snackbar.message = '';
            }
        },
        watch: {
            'unExpectedErrorMessage': function (newVal) {
                if (newVal) {
                    this.snackbar.showSnackbar = true;
                    this.snackbar.message = this.getErrorMessage;
                } else {
                    this.clearSnackBar();
                }
            }
        }

    }
</script>