<template>
    <div class="page-content" v-if="visible">
        <slot name="content"></slot>
        <error-message-viewer :un-expected-error-message="unExpectedErrorMessage"/>
    </div>

    <md-empty-state :md-icon="emptyPageCreator.icon"
                    :md-label="emptyPageCreator.label"
                    :md-description="emptyPageCreator.description"
                    v-else>
        <slot name="content"></slot>

        <md-button class="md-primary md-raised"
                   v-if="actionButtonUtil"
                   @click="actionButtonClicked">
            <md-icon v-if="actionButtonUtil.icon">{{actionButtonUtil.icon}}</md-icon>
            {{actionButtonUtil.label}}
        </md-button>
        <error-message-viewer :un-expected-error-message="unExpectedErrorMessage"/>
    </md-empty-state>
</template>

<script>
    import ErrorMessageViewer from "./ErrorMessageViewer";

    export default {
        name: "page",
        components: {ErrorMessageViewer},
        props: {
            visible: {
                type: Boolean,
                required: false,
                default: true
            },
            emptyPageCreator: {
                type: Object,
                required: false,
                validator: (obj) => !!obj.icon && !!obj.label && !!obj.description
            },
            actionButtonUtil: {
                type: Object,
                required: false,
                validator: (obj) => obj.label
            },
            unExpectedErrorMessage: {
                type: String,
                required: false,
                default: ''
            }
        },
        methods: {
            actionButtonClicked() {
                this.$emit("actionButtonClicked");
            }
        }
    }
</script>