<template>
    <component :is="customComponent"
               :routes="filteredRoutes"
               exact/>
</template>

<script>

    import TabRouterLink from "./TabRouterLink";
    import ListItemRouterLink from "./ListItemRouterLink";

    const TAG_TYPES = ["TAB", "LIST_ITEM"];

    export default {
        name: 'custom-router-link',
        components: {
            ListItemRouterLink,
            TabRouterLink
        },
        props: {
            routes: {
                type: Array,
                required: true
            },
            tag: {
                type: String,
                required: false,
                default: "TAB",
                validator: (val) => TAG_TYPES.includes(val)
            }
        },
        computed: {
            customComponent() {
                if (this.tag === TAG_TYPES[0]) {
                    return TabRouterLink;
                }
                return ListItemRouterLink;
            },
            filteredRoutes() {
                return this.routes.filter(route => !route.meta.hidden && this.userHasPermission(route.meta.privileges || []));
            }
        }
    }
</script>