<template>
    <div v-if="visible">
        <component :is="componentMeta.routerPage"/>
    </div>
    <access-denied-page v-else></access-denied-page>
</template>

<script>

    import AccessDeniedPage from "./AccessDeniedPage";

    const parentWrapperCount = (vm) => {
        let count = 0;
        let component = vm.$parent;
        while (component) {
            if (component.$options && component.$options.name && component.$options.name === vm.$options.name) {
                count++;
            }
            component = component.$parent;
        }
        return count;
    };

    export default {
        name: 'filtered-router-views',
        components: {AccessDeniedPage},
        computed: {
            componentMeta() {
                const count = parentWrapperCount(this);
                return this.$route.matched[count].meta;
            },
            visible() {
                return this.userHasPermission(this.componentMeta.privileges || []);
            }
        }
    }
</script>