<template>
    <div>
        <md-list-item v-for="route in routes"
                      :to="route.path"
                      :exact="exact">
            <md-icon>{{pathIcon(route.meta)}}</md-icon>
            <span class="md-list-item-text">{{route.meta.visibleName}}</span>
        </md-list-item>
    </div>
</template>

<script>
    import RouterLinkMixin from "./RouterLinkMixin";

    export default {
        name: "list-item-router-link",
        mixins: [RouterLinkMixin]
    }
</script>