<template>
    <div>
        <md-tab v-for="route in routes"
                :md-label="route.meta.visibleName"
                :to="route.path"
                :md-icon="pathIcon(route.meta)"
                :exact="exact"/>
    </div>
</template>

<script>
    import RouterLinkMixin from "./RouterLinkMixin";

    export default {
        name: "tab-router-link",
        mixins: [RouterLinkMixin]
    }
</script>