<template>
    <span>{{permissionName}}</span>
</template>

<script>
    export default {
        name: "permission-cell",
        props: {
            permission: {
                type: [Object, String],
                required: true
            }
        },
        computed: {
            permissionName() {
                if (this.permission.name) {
                    return this.permission.name;
                }
                return this.permission;
            }
        }
    }
</script>