<template>
    <md-list>
        <md-list-item v-for="permission in permissions">
            <permission-cell :permission="permission"/>
        </md-list-item>
    </md-list>
</template>

<script>
    import PermissionCell from "./PermissionCell";

    export default {
        name: "permissions-cell",
        components: {PermissionCell},
        props: {
            permissions: {
                type: Array,
                required: true
            }
        }

    }
</script>