<template>
    <editor-modal title="User Role Editor"
                  action-class="md-alignment-center-space-between"
                  :process-detail="processDetails"
                  @processCompleted="processCompleted"
                  @processFailed="processFailed">
        <template slot="form">

            <md-field>
                <label>Role Name</label>
                <md-input v-model="userRole.name" autofocus></md-input>
            </md-field>

            <md-field>
                <label>Description</label>
                <md-input v-model="userRole.description"></md-input>
            </md-field>

            <basic-select :selected-items="userRole.permissions"
                          @change="permissionSelected"
                          :options="mapPermissions"
                          :multiple="true"
                          label="Permissions"/>
        </template>
        <template slot="actions">
            <md-button class="md-raised md-primary" @click="cancelClick">Cancel</md-button>
        </template>
    </editor-modal>
</template>

<script>
    import EditorModal from "../../../components/modal/EditorModal";
    import BasicSelect from "../../../components/select/BasicSelect";
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "user-role-editor",
        components: {BasicSelect, EditorModal},
        props: {
            model: {
                type: Object,
                required: false,
                default: () => ({})
            }
        },
        data() {
            return {
                userRole: {
                    id: this.model.id,
                    name: this.model.name,
                    description: this.model.description,
                    permissions: this.model.permissions ? this.model.permissions.map(p => p.enumName) : []
                }
            };
        },
        computed: {
            ...mapGetters('userRole', ["permissionList"]),
            processDetails() {
                return {
                    label: 'Save',
                    process: this.saveRoleClicked
                };
            },
            mapPermissions() {
                return this.permissionList
                    .map(p => {
                        return {
                            value: p.enumName,
                            label: p.name,
                        };
                    })
            },
        },
        methods: {
            ...mapActions('userRole', ['saveRole', 'refreshRoles']),
            saveRoleClicked() {
                const model = {
                    id: this.userRole.id,
                    name: this.userRole.name,
                    description: this.userRole.description,
                    permissions: this.userRole.permissions.toString()
                };
                return this.saveRole(model);
            },
            processCompleted() {
                this.refreshRoles();
                this.emitModalClosedEvent();
            },
            processFailed(error) {
                this.emitModalClosedEvent(error);
            },
            emitModalClosedEvent(payload) {
                this.$emit("modalClosed", payload);
            },
            permissionSelected(values) {
                this.userRole.permissions = values;
            },
            cancelClick() {
                this.emitModalClosedEvent();
            }
        }
    }
</script>