<template>
    <page :visible="!!userRoleList.length"
          :empty-page-creator="emptyPageContent"
          :action-button-util="emptyPageActionButtonUtil"
          :un-expected-error-message="errorMessage"
          @actionButtonClicked="createRole"
          @errorMessageCleared="clearErrorMessage">

        <template slot="content">
            <div class="md-layout md-alignment-space-between-right">
                <md-button class="md-raised md-primary"
                           @click="createRole"
                           v-permission="'ROLE_USER_ADMIN'">
                    <md-icon>add_circle</md-icon>
                    Create Role
                </md-button>
            </div>
            <md-table v-model="userRoleList"
                      md-card
                      @md-selected="()=>{}">
                <md-table-row slot="md-table-row"
                              slot-scope="{ item }">
                    <md-table-cell md-label="Role Name">{{ item.name }}</md-table-cell>
                    <md-table-cell md-label="Description">{{ item.description }}</md-table-cell>
                    <md-table-cell md-label="Privileges">
                        <permissions-cell :permissions="item.permissions"/>
                    </md-table-cell>
                    <md-table-cell md-label="Actions"
                                   v-if="actionsVisible(item)">
                        <edit-delete-action :process-button="deleteProcess(item.id)"
                                            :row-id="item.id"
                                            :confirmation="generateConfirmation(item)"
                                            @editClicked="editClicked"
                                            @processCompleted="deleteCompleted"
                                            @processFailed="deleteFailed"/>
                    </md-table-cell>
                </md-table-row>
            </md-table>

            <user-role-editor v-if="userRoleSelected"
                              :model="selectedUserRole"
                              @modalClosed="userRolesModalClosed"/>
        </template>
    </page>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import Page from "../../../components/page/Page";
    import PageMixin from "../../../components/page/PageMixin";
    import SimpleTable from "../../../components/table/SimpleTable";
    import EditDeleteAction from "../../../components/table/actions/EditDeleteAction";
    import PermissionsCell from "./PermissionsCell";
    import UserRoleEditor from "./UserRoleEditor";

    export default {
        name: "user-roles",
        components: {UserRoleEditor, PermissionsCell, EditDeleteAction, SimpleTable, Page},
        mixins: [PageMixin],
        data() {
            return {
                selectedUserRole: null
            };
        },
        created() {
            this.refreshRoles();
            this.refreshPermissions();
        },
        computed: {
            ...mapGetters('userRole', ['userRoleList']),
            emptyPageContent() {
                return this.generateEmptyPageContent('block', 'No Roles Found', 'There no roles found. Click create button to create new role');
            },
            emptyPageActionButtonUtil() {
                return this.generateEmptyPageActionButtonUtil('add_circle', 'Create Role');
            },
            userRoleSelected() {
                return this.selectedUserRole != null;
            }
        },
        methods: {
            ...mapActions('userRole', ['refreshRoles', 'refreshPermissions','deleteRole']),
            createRole() {
                this.selectedUserRole = {};
            },
            editClicked(roleId) {
                this.selectedUserRole = this.userRoleList.find(u => u.id === roleId);
            },
            deleteCompleted(roleId) {
                console.debug("Role deletion completed with success")
            },
            deleteFailed(result) {
                this.addError(`An error occurred while user role deleting ${result.rowId} ${result.error}`);
            },
            generateConfirmation(item) {
                return {
                    content: `Are you sure delete user role with name ${item.name}(#${item.id})`,
                    title: 'Confirm Delete Role'
                };
            },
            userRolesModalClosed(error) {
                this.selectedUserRole = null;
                if (error) {
                    this.addError(error);
                }
            },
            actionsVisible(role) {
                return this.userHasPermission('ROLE_USER_ADMIN') && !role.protectedRole;
            },
            deleteProcess(id) {
                return {
                    process: () => this.deleteRole(id)
                }
            }
        }
    }
</script>