<template>
    <md-table v-model="columns"
              md-card
              @md-selected="onSelect">
        <md-table-row slot="md-table-row"
                      slot-scope="{ item }"
                      md-selectable="single">
            <md-table-cell v-for="label in labels" :md-label="label.label">{{ item[label.field] }}</md-table-cell>
        </md-table-row>
    </md-table>
</template>

<script>
    export default {
        name: 'simple-table',
        props: {
            labels: {
                type: Array,
                required: true,
                validator: (values) => {
                    return !values.map(val => typeof (val.label) === 'string' && typeof (val.field) === 'string')
                        .filter(boolResult => !boolResult)
                        .length
                }
            },
            columns: {
                type: Array,
                required: true
            }
        },
        methods: {
            onSelect(item) {
                console.log(item);
            }
        }
    }
</script>
