<template>
    <div id="app">
        <authentication/>
        <div v-if="isUserLoggedIn" id="container">
            <nav-bar/>
            <div class="md-content">
                <router-view></router-view>
            </div>
<!--            <div class="phone-viewport">-->
<!--                <app-footer/>-->
<!--            </div>-->
        </div>
    </div>
</template>

<script>

    import router from "./router";
    import NavBar from "./components/pre-content/NavBar";
    import AppFooter from "./components/pre-content/AppFooter";
    import Authentication from "./components/auth/Authentication";
    import {mapGetters} from "vuex";

    export default {
        name: 'app',
        components: {Authentication, AppFooter, NavBar},
        created() {
            router.activateRoutes(this.$router);
        },
        computed: {
            ...mapGetters('authentication', ['token']),
            isUserLoggedIn() {
                return !!this.token;
            }
        },
        methods: {
            routeChanged(routerInfo) {
                this.$router.push(routerInfo);
            }
        },
        watch: {
            $route(to, from) {
                this.routeChanged(to);
            }
        }
    }
</script>
<style lang="scss" scoped>
    .phone-viewport {
        width: 100%;
        display: inline-flex;
        align-items: flex-end;
        overflow: hidden;
        border: 1px solid rgba(#000, .26);
    }

    .md-content {
        height: 80vh;
    }
</style>