<template>
    <login-modal v-if="loginNecessary"
                 @sigUpEnabled="sigUpEnabled"></login-modal>
    <sign-up v-else-if="signUp"
             @modalClosed="signUpModalClosed"></sign-up>
</template>

<script>

    import LoginModal from './LoginModal.vue';
    import SignUp from './SignUp.vue';
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "authentication",
        components: {
            LoginModal,
            SignUp
        },
        data() {
            return {
                signUp: false
            };
        },
        created() {
            this.checkAuth();
        },
        computed: {
            ...mapGetters('authentication', ['token']),
            loginNecessary() {
                if (this.signUp) {
                    return false;
                }
                return !this.token;
            }
        },
        methods: {
            ...mapActions('authentication', ['refreshAuthentication']),
            signUpModalClosed() {
                this.signUp = false;
                this.checkAuth();
            },
            checkAuth() {
                this.refreshAuthentication();
            },
            sigUpEnabled() {
                this.signUp = true;
            }
        }
    }
</script>