<template>
    <md-menu md-size="huge"
             md-align-trigger
             class="full-size"
             :md-active.sync="toggleCard">
        <md-button class="md-fixed full-size"
                   md-menu-trigger>
            <md-icon>person_pin</md-icon>
            {{username}}
        </md-button>

        <md-menu-content>
            <div class="page-content">
                <md-list>
                    <md-list-item>
                        <md-icon>person</md-icon>
                        {{fullName}}
                    </md-list-item>
                    <md-list-item>
                        <md-icon>email</md-icon>
                        {{email}}
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-primary md-mini"
                                   @click="pwChangeClicked">
                            <md-icon>lock</md-icon>
                            Change Password
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-accent md-mini"
                                   @click="logoutClicked">
                            <md-icon>exit_to_app</md-icon>
                            Logout
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-menu-content>
    </md-menu>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "authenticated-user-balloon",
        data() {
            return {
                toggleCard: false
            }
        },
        computed: {
            ...mapGetters('authentication', ['authenticatedUser']),
            loggedOnUser() {
                return this.authenticatedUser && this.authenticatedUser.authenticatedUser || {};
            },
            username() {
                return this.loggedOnUser.username || '';
            },
            email() {
                return this.loggedOnUser.email || '';
            },
            fullName() {
                return this.loggedOnUser.fullName || '';
            }
        },
        methods: {
            ...mapActions('authentication', ['logout']),
            logoutClicked() {
                this.logout();
            },
            pwChangeClicked() {
                this.$emit("passwordChangeClicked");
            }
        }
    }
</script>
<style scoped>
    .full-size {
        width: 100%;
        height: 100%;
    }

    .md-menu-content {
        max-height: unset;
    }
</style>