<template>
    <base-modal title="Login"
                action-class="md-alignment-center-space-between"
                promise-text="Log in"
                :promise-producer="loginProcess">
        <template slot="form">
            <md-field>
                <label>E-mail</label>
                <md-input v-model="loginModel.username" autofocus></md-input>
            </md-field>

            <md-field md-has-password>
                <label>Password</label>
                <md-input v-model="loginModel.password" type="password"></md-input>
            </md-field>
        </template>
        <template slot="actions">
            <md-button class="md-raised md-primary" @click="sigUpClicked">Sign Up</md-button>
        </template>
    </base-modal>
</template>

<script>
    import {mapActions} from "vuex";
    import BaseModal from "../modal/BaseModal";

    export default {
        name: "login-modal",
        components: {BaseModal},
        data() {
            return {
                loginModel: {
                    username: "",
                    password: ""
                }
            };
        },
        methods: {
            ...mapActions('authentication', ['login']),
            loginProcess() {
                return this.login(this.loginModel)
            },
            sigUpClicked() {
                this.$emit("sigUpEnabled");
            }
        }
    }
</script>