<template>
    <editor-modal title="User Role Editor"
                  action-class="md-alignment-center-space-between"
                  :process-detail="processDetails"
                  @processCompleted="processCompleted"
                  @processFailed="processFailed">
        <template slot="form">

            <md-field>
                <label>Old Password</label>
                <md-input v-model="model.oldPass" type="password" autofocus></md-input>
            </md-field>

            <md-field>
                <label>New Password</label>
                <md-input v-model="model.newPass" type="password"></md-input>
            </md-field>

            <md-field>
                <label>New Password (Repeat)</label>
                <md-input v-model="model.newPassRepeat" type="password"></md-input>
            </md-field>

            <error-message-viewer :un-expected-error-message="error"
                                  @errorMessageCleared="errorMessageCleared"/>
        </template>
        <template slot="actions">
            <md-button class="md-raised md-primary" @click="cancelClick">Cancel</md-button>
        </template>
    </editor-modal>
</template>

<script>
    import EditorModal from "../modal/EditorModal";
    import ErrorMessageViewer from "../page/ErrorMessageViewer";
    import {mapActions} from "vuex";

    export default {
        name: "password-change-editor",
        components: {ErrorMessageViewer, EditorModal},
        data() {
            return {
                model: {
                    oldPass: '',
                    newPass: '',
                    newPassRepeat: ''
                },
                error: ''
            }
        },
        computed: {
            processDetails() {
                return {
                    label: 'Save',
                    process: this.savePasswordClicked
                };
            }
        },
        methods: {
            ...mapActions("authentication", ['changePassword']),
            cancelClick() {
                this.emitModalClosedEvent();
            },
            savePasswordClicked() {
                if (!this.model.oldPass) {
                    return Promise.reject("Old password is empty");
                } else if (!this.model.newPass) {
                    return Promise.reject("New password is empty");
                } else if (this.model.newPass !== this.model.newPassRepeat) {
                    return Promise.reject("New password and repeat couldn't match");
                }
                return this.changePassword(this.model);
            },
            processCompleted() {
                this.emitModalClosedEvent();
            },
            processFailed(error) {
                this.error = error;
            },
            emitModalClosedEvent(payload) {
                this.$emit("modalClosed", payload);
            },
            errorMessageCleared() {
                this.error = '';
            }
        }
    }
</script>