<template>
    <base-modal title="Sign Up"
                summary="Create free account for continue to use"
                :go-back="goBack"
                action-class="md-alignment-space-between-right"
                promise-text="Sign Up"
                :promise-producer="signUpProcess">
        <template slot="form">
            <md-field>
                <label>Name</label>
                <md-input v-model="signUpModel.fullName" autofocus></md-input>
            </md-field>

            <md-field>
                <label>Username</label>
                <md-input v-model="signUpModel.username"></md-input>
            </md-field>

            <md-field>
                <label>E-Mail</label>
                <md-input v-model="signUpModel.email"></md-input>
            </md-field>

            <md-field md-has-password>
                <label>Password</label>
                <md-input v-model="signUpModel.password" type="password"></md-input>
            </md-field>

            <md-field md-has-password>
                <label>Password Repeat</label>
                <md-input v-model="signUpModel.passwordRepeat" type="password"></md-input>
            </md-field>

            <md-datepicker v-model="signUpModel.birthDay"
                           :md-model-type="String">
                <label>Birth Date</label>
            </md-datepicker>
        </template>
    </base-modal>
</template>

<script>
    import {mapActions} from "vuex";
    import BaseModal from "../modal/BaseModal";

    export default {
        name: "sign-up",
        components: {BaseModal},
        data() {
            return {
                signUpModel: {
                    email: '',
                    fullName: '',
                    username: '',
                    userRole: '',
                    password: '',
                    birthDay: null,
                    passwordRepeat: ''
                }
            };
        },
        methods: {
            ...mapActions('authentication', ['signUp']),
            signUpProcess() {
                const validationError = this.validateForm();
                if (validationError) {
                    return Promise.reject({body: validationError});
                }
                return this.signUp(this.signUpModel);
            },
            goBack() {
                this.$emit("modalClosed");
            },
            validateForm() {
                const requiredFields = ['fullName', 'username', 'email', 'password'];
                let errorMessage = null;
                const requiredFieldState = requiredFields.every(item => {
                    if (!this.signUpModel[item]) {
                        errorMessage = `${item} is empty`;
                        return false;
                    }
                    return true;
                });
                if (errorMessage && !requiredFieldState) {
                    return errorMessage;
                }
                if (this.signUpModel.password !== this.signUpModel.passwordRepeat) {
                    return "Password and Password Repeat doesn't match";
                }
                return null;
            }
        }
    }
</script>